@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@200;300;400&display=swap');
body{
    font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
background-image: url(image/20220907_231431_0000.png);
background-position: center;
background-size: cover;
}

.header{
    display: flex;
    justify-content: space-between;

    
}

a{
padding-right: 50;
font-size: larger;
color: crimson;

}
*{
    text-decoration: none;

}
a:hover{
 color: gold;
}